body {
  margin: 0;
  height: fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: beige;
}

#root {
  min-height: 80vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
